<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDc5YHRlXjpwrcplc_LXAXAXY0al4jbq_0</string>
	<key>GCM_SENDER_ID</key>
	<string>576340932595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brynnfinleyapp</string>
	<key>PROJECT_ID</key>
	<string>inkhanddiary</string>
	<key>STORAGE_BUCKET</key>
	<string>inkhanddiary.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576340932595:ios:da3d269f5026736c924486</string>
</dict>
</plist>